In [14]:
import pandas as pd

dg1 = pd.read_excel(f"C:\\Users\EFRNV\Downloads\DG raw data\DG Activities Page 1.xlsx")
dg2 = pd.read_excel(f"C:\\Users\EFRNV\Downloads\DG raw data\DG Activities Page 2.xlsx")
dg3 = pd.read_excel(f"C:\\Users\EFRNV\Downloads\DG raw data\DG Activities Page 3.xlsx")
dg4 = pd.read_excel(f"C:\\Users\EFRNV\Downloads\DG raw data\DG Activities Page 4.xlsx")

In [15]:

dg5 = pd.read_excel(f"C:\\Users\EFRNV\Downloads\DG raw data\DG Activities Page 5.xlsx")
dg6 = pd.read_excel(f"C:\\Users\EFRNV\Downloads\DG raw data\DG Activities Page 6.xlsx")
dg7 = pd.read_excel(f"C:\\Users\EFRNV\Downloads\DG raw data\DG Activities Page 7.xlsx")
dg8 = pd.read_excel(f"C:\\Users\EFRNV\Downloads\DG raw data\DG Activities Page 8.xlsx")
dg9 = pd.read_excel(f"C:\\Users\EFRNV\Downloads\DG raw data\DG Activities Page 9.xlsx")
dg10 = pd.read_excel(f"C:\\Users\EFRNV\Downloads\DG raw data\DG Activities Page 10.xlsx")

In [16]:
dg_final=pd.concat([dg1,dg2,dg3,dg4,dg5,dg6,dg7,dg8,dg9,dg10], axis=0)
pd.set_option('display.max_columns',None)
dg_final.shape

(2799110, 61)

In [17]:
DG_unq=dg_final.drop_duplicates(subset='activity_id', keep="first", inplace=False)
DG_unq.shape
#DG_unq.to_csv('DG_unq27may.csv')

(962760, 61)

In [28]:
dg_2023 = DG_unq[(DG_unq['year'] == 2023)]
dg_2023.shape
#dg_2023.to_csv('dg_2023_may27.csv')

In [24]:
pd.set_option('display.max_columns',None)
dg_final.head()

,village,village_code,activity_id,activity_status,week_no,sub_district,sub_district_code,classification,cropmaingroup,cropmaingroupcode,cropgroupname,cropgroupcode,cropcode,cropname,engagement_program,activity_type_name,no_of_farmers_attended,month,iscompleted,remarks,product_name,completed_date,campaign_name,radl,purchase_intent,activity_latitude,activity_longitude,satellite_villages,fo_id,activity_resource_id,activity_resource,value_per_item,resource_type,consumed_count,planned_count,reject_reason,cancel_reason,imageurl_1,imageurl_2,imageurl_3,business_area_code,business_area,business_unit_code,business_unit,iscascaded,fo_name,district_code,district_name,state_code,state,program_description,uom,isadhoc,campaign_type,program_id,activity_type_id,territory_code,territory_name,fs_id,fs_name,year
0,Pilakhanwali,9.142007e+14,4e2152bd-0a26-49b1-8635-77d483240bb1,Rejected,3,Sikandrabad,914200745,Crop Main Group,RICE,IN19,NaN,NaN,NaN,NaN,Field Visits/Field Day,Harvest Festival/ Harvest Day,10.0,June,True,With 1 Deler\n,NaN,2021-06-15,Adhoc,NaN,NaN,28.521458,77.936919,Dulehra,DIVAKA,inadres16,Banner,NaN,NaN,1.0,0.0,Please update the photo,NaN,villageActivityPH/DIVAKA_06151134_4iPoc5pSe.jpg,NaN,NaN,9IE,West Up&Uttaranchal,IN61PBC,Central,True,Divakar Kaushik,9142,Bulandshahr,9,Uttar Pradesh,NaN,NaN,1.0,Adhoc,inadprog2,inadact8,INBUN,Bulandshahr,AKHIJA1,Akhil Jadoun,2021
1,Pilakhanwali,9.142007e+14,4e2152bd-0a26-49b1-8635-77d483240bb1,Rejected,3,Sikandrabad,914200745,Crop Main Group,RICE,IN19,NaN,NaN,NaN,NaN,Field Visits/Field Day,Harvest Festival/ Harvest Day,10.0,June,True,With 1 Deler\n,NaN,2021-06-15,Adhoc,NaN,NaN,28.521458,77.936919,Dulehra,DIVAKA,inadres30,Canopy,NaN,NaN,1.0,0.0,Please update the photo,NaN,villageActivityPH/DIVAKA_06151134_4iPoc5pSe.jpg,NaN,NaN,9IE,West Up&Uttaranchal,IN61PBC,Central,True,Divakar Kaushik,9142,Bulandshahr,9,Uttar Pradesh,NaN,NaN,1.0,Adhoc,inadprog2,inadact8,INBUN,Bulandshahr,AKHIJA1,Akhil Jadoun,2021
2,Chamraud,9.138007e+14,994f9e3b-8300-46e2-b779-1f763f0fdcf2,Approved,3,Mawana,913800733,Crop Main Group,RICE,IN19,NaN,NaN,NaN,NaN,Field Visits/Field Day,Harvest Festival/ Harvest Day,40.0,June,True,Farmer meeting,NaN,2021-06-15,Adhoc,NaN,NaN,29.251564,78.007695,"Dabkheri,Gajrauli,Ganeshpur,Garina",JAGM,inadres16,Banner,NaN,NaN,2.0,0.0,NaN,NaN,villageActivityPH/JAGM_06151135_wyMcq4ygF.jpg,NaN,NaN,9IE,West Up&Uttaranchal,IN61PBC,Central,True,JAGMOHAN -,9138,Meerut,9,Uttar Pradesh,NaN,NaN,1.0,Adhoc,inadprog2,inadact8,INMER,Meerut,SUSHKU,SUSHEEL KUMAR,2021
3,Aarafpur,9.135007e+14,d699ed44-9060-4254-b598-927bbf3d7d09,Rejected,3,Bilari,913500720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Field Visits/Field Day,Field Visit at Farm,10.0,June,True,With 3 dealer \n,Regent GR,2021-06-15,Adhoc,NaN,0.0,28.699895,78.785340,"Aari Khera,Abdullapur,Abhanpur Kundarki,Abhanp...",HIMADI,inadres46,Flex,NaN,NaN,2.0,0.0,Activity Demo,NaN,villageActivityPH/HIMADI_06151136_WxGfbsgh3.jpg,NaN,NaN,9IE,West Up&Uttaranchal,IN61PBC,Central,True,Himanshu Dixit,9135,Moradabad,9,Uttar Pradesh,NaN,KG,1.0,Adhoc,inadprog2,inadact10,INMOR,Moradabad,MITRSI,Mitrapal Singh,2021
4,Aarafpur,9.135007e+14,d699ed44-9060-4254-b598-927bbf3d7d09,Rejected,3,Bilari,913500720,Crop Main Group,RICE,IN19,NaN,NaN,NaN,NaN,Field Visits/Field Day,Field Visit at Farm,10.0,June,True,With 3 dealer \n,NaN,2021-06-15,Adhoc,NaN,NaN,28.699895,78.785340,"Aari Khera,Abdullapur,Abhanpur Kundarki,Abhanp...",HIMADI,inadres46,Flex,NaN,NaN,2.0,0.0,Activity Demo,NaN,villageActivityPH/HIMADI_06151136_WxGfbsgh3.jpg,NaN,NaN,9IE,West Up&Uttaranchal,IN61PBC,Central,True,Himanshu Dixit,9135,Moradabad,9,Uttar Pradesh,NaN,NaN,1.0,Adhoc,inadprog2,inadact10,INMOR,Moradabad,MITRSI,Mitrapal Singh,2021

In [18]:
import pandas as pd

fr1= pd.read_excel(r"C:\\Users\EFRNV\Downloads\farmer raw data\Farmer Registration Page 1.xlsx")
fr2= pd.read_excel(r"C:\\Users\EFRNV\Downloads\farmer raw data\Farmer Registration Page 2.xlsx")
fr3= pd.read_excel(r"C:\\Users\EFRNV\Downloads\farmer raw data\Farmer Registration Page 3.xlsx")
fr4= pd.read_excel(r"C:\\Users\EFRNV\Downloads\farmer raw data\Farmer Registration Page 4.xlsx")
fr5= pd.read_excel(r"C:\\Users\EFRNV\Downloads\farmer raw data\Farmer Registration Page 5.xlsx")

In [34]:
fr_final=pd.concat([fr1,fr2,fr3,fr4,fr5], axis=0)
pd.set_option('display.max_columns',None)
fr_final.shape

(1347092, 28)

In [35]:
FR_unq=fr_final.drop_duplicates(subset='id', keep="first", inplace=False)
FR_unq.shape
#FR_unq.to_csv('FR_unq03june.csv')

(1189808, 28)

In [40]:
FR_chilli= FR_unq[(FR_unq['Crop Name']=='CHILLIES: RED CHILLIES, GREEN CHILLIES & CAPSICUM')]
FR_chilli.shape
#FR_chilli.to_excel('fr_chilli.xlsx')

(20108, 28)

In [8]:
dg_2022 = dg_final[(dg_final['year'] == 2022)  & (dg_final['iscompleted']==True) & (dg_final['engagement_program']=='BAYER GRAM')]

dg_2022=(dg_2022.loc[dg_2022['activity_type_name'].isin(['Bayer Gram - Harvest Day','Bayer Gram - Model Plot','Bayer Gram - Field Demo - Package','Bayer Gram - Model Farm visit'])])
dgd_2022=dg_2022.drop_duplicates(subset='activity_id', keep="first", inplace=False)
dgd_2022.shape

(2572, 61)

In [11]:
frf1 =fr1.append(fr2)
frf2 =fr3.append(fr4)
fr_final=frf1.append(frf2)
fr_final.shape

C:\Users\EFRNV\AppData\Local\Temp\ipykernel_12036\4254031187.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  frf1 =fr1.append(fr2)
C:\Users\EFRNV\AppData\Local\Temp\ipykernel_12036\4254031187.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  frf2 =fr3.append(fr4)
C:\Users\EFRNV\AppData\Local\Temp\ipykernel_12036\4254031187.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  fr_final=frf1.append(frf2)

(933049, 28)

In [90]:
import os
os.chdir(r'C:\\Users\\EFRNV\\Downloads\\')
bayer_gram = pd.read_excel(f"Bayer gram - TBM All India_19 Mar.xlsx")

In [163]:
dg_2022_data = pd.read_excel(f"dg_data_2022_final.xlsx")
dg_2022_data.columns

Index(['State', 'Territory Name', 'Sub District', 'Village',
       'Count of Activity Id', 'Count of Activity Id (Dg 2022.Csv)'],
      dtype='object')

In [155]:
fr_final_d_cult = fr_final_d[['Territory Name','SubDistrict Name','Village Name','Cultivation Size']].groupby(['Territory Name','SubDistrict Name','Village Name']).sum('Cultivation Size').reset_index()
fr_final_d_cult

      Territory Name            Village Name  Cultivation Size
0             Abohar         Alam Shah (288)               1.0
1             Abohar          Asafwala (272)              93.0
2             Abohar          Azamwala (140)             302.0
3             Abohar         Bandiwala (258)              36.0
4             Abohar  Banwala Hanwanta (244)              53.0
...              ...                     ...               ...
42884    Yeola (F&V)                 Vaghale               5.0
42885    Yeola (F&V)                Vikharni              96.0
42886    Yeola (F&V)                 Vinchur             143.5
42887    Yeola (F&V)                 Visapur              48.0
42888    Yeola (F&V)            Vishnu Nagar               2.0

[42889 rows x 3 columns]

In [156]:
fr_final_d_id = fr_final_d[['Territory Name','Village Name','Cultivation Size']].groupby(['Territory Name','Village Name']).sum('Cultivation Size').reset_index()
fr_final_d_id

      Territory Name            Village Name  Cultivation Size
0             Abohar         Alam Shah (288)               1.0
1             Abohar          Asafwala (272)              93.0
2             Abohar          Azamwala (140)             302.0
3             Abohar         Bandiwala (258)              36.0
4             Abohar  Banwala Hanwanta (244)              53.0
...              ...                     ...               ...
42884    Yeola (F&V)                 Vaghale               5.0
42885    Yeola (F&V)                Vikharni              96.0
42886    Yeola (F&V)                 Vinchur             143.5
42887    Yeola (F&V)                 Visapur              48.0
42888    Yeola (F&V)            Vishnu Nagar               2.0

[42889 rows x 3 columns]

In [165]:
compareColumn = []
cultivation_final_count = []
#farmer_reg_l = []
for index, row in dg_2022_data.iterrows():
    df2Row = fr_final_d_cult[fr_final_d_cult["Territory Name"] == row["Territory Name"]]
    if df2Row.shape[0] == 0:
        compareColumn.append("Territory not available")
    else:
        check = False
        for index, row2 in df2Row.iterrows():
            if (row2["Village Name"] == row["Village"]):
                coulti_count = row2['Cultivation Size']
                compareColumn.append("matching")
                cultivation_final_count.append(coulti_count)
                check = True
                break
        if check == False:
            compareColumn.append("Date not matching")
dg_2022_data["compare"] = compareColumn
# bayer_gram["compare"] = cultivation_final_count

In [166]:
compareColumn = []
farmer_reg_count = []
for index, row in dg_2022_data.iterrows():
    df2Row = fr_gp_id_count[fr_gp_id_count["Territory Name"] == row["Territory Name"]]
    if df2Row.shape[0] == 0:
        compareColumn.append("Territory not available")
    else:
        check = False
        for index, row2 in df2Row.iterrows():
            if (row2["Village Name"] == row["Village"]):
                farmer_reg = row2['id']
                compareColumn.append("matching")
                farmer_reg_count.append(farmer_reg)
                check = True
                break
        if check == False:
            compareColumn.append("Date not matching")
dg_2022_data["compare1"] = compareColumn
# bayer_gram["compare"] = cultivation_final_count

In [181]:
dg_2022_data_f = dg_2022_data[dg_2022_data['compare'] == 'matching']
dg_2022_data_f = dg_2022_data[dg_2022_data['compare1'] == 'matching']
dg_2022_data_f2 = dg_2022_data[dg_2022_data['compare'] == 'Date not matching']
dg_2022_data_f2 = dg_2022_data[dg_2022_data['compare1'] == 'Date not matching']

In [116]:
import numpy as np
bayer_gram_match['mapping'] = np.where((bayer_gram_match['Cutivation Size']!=bayer_gram_match['cultivation_fr']) & (bayer_gram_match['# of Bayer Mitra']!=bayer_gram_match['farmer_id']) ,False,True)

C:\Users\EFRNV\AppData\Local\Temp\ipykernel_20856\894427232.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bayer_gram_match['mapping'] = np.where((bayer_gram_match['Cutivation Size']!=bayer_gram_match['cultivation_fr']) & (bayer_gram_match['# of Bayer Mitra']!=bayer_gram_match['farmer_id']) ,False,True)

In [117]:
bgm=bayer_gram_match.sort_values(['Territory ','Bayer Gram Village'])
bgm
#bayer_gram_match[['Territory ','Bayer Gram Village','Cutivation Size','cultivation_fr','mapping']].sort_values(['Territory ','Bayer Gram Village'])

,HelperColumn,CU,CA,Territory,TBM/FS Name,Bayer Gram Village,Sahbhaagi Name,TBM/FS Village,Cutivation Size,# of Farmers Registered,# of Bayer Mitra,Model Plot since 1st Jan,No.of DG activites since 1st Jan,Overall Status,compare,compare1,cultivation_fr,farmer_id,mapping
119,AboharDangar Khera (131),North,Chandigarh,Abohar,Ankur Kumar,Dangar Khera (131),NaN,TBM VILLAGE,704.0,36,2,2,10,RED,matching,matching,704.0,37,True
171,AdilabadGuda,West,Nanded,Adilabad,Ganesh Shinde,Guda,"Thakre,Sumith",TBM VILLAGE,2130.0,201,3,3,4,GREEN,matching,matching,2130.0,203,True
261,AdoniKogilathota,South,Kurnool,Adoni,Manikanteswara Reddy,Kogilathota,NaN,TBM VILLAGE,1226.0,216,2,1,11,RED,matching,matching,1226.0,223,True
80,AgraBilara,Central,Agra,Agra,Ashwani Kumar,Bilara,"Jasram,Jasram",FS VILLAGE,2880.0,464,1,3,3,GREEN,matching,matching,2880.0,464,True
109,AgraChitaura,Central,Agra,Agra,Yuvraj Singh Rathore,Chitaura,"Ajeet ,Kumar",TBM VILLAGE,1640.0,315,1,2,13,GREEN,matching,matching,1640.0,316,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,YamunanagarBubka (53),North,Karnal,Yamunanagar,Ishanka Gahlawat,Bubka (53),NaN,TBM VILLAGE,1356.0,102,2,1,6,RED,matching,matching,1356.0,198,True
491,YavatmalWatholi,West,Amravati,Yavatmal,Jadhav Jagjerao,Watholi,NaN,TBM VILLAGE,803.0,62,2,0,0,RED,matching,matching,803.0,86,True
386,YemmiganurPedda Marriveedu,South,Kurnool,Yemmiganur,K Bhargav,Pedda Marriveedu,"B ,Raviteja",TBM VILLAGE,1062.0,375,2,9,65,GREEN,matching,matching,1062.0,376,True
141,Yeola (F&V)Ekwai,West,Nashik,Yeola (F&V),Sayali Kale,Ekwai,NaN,TBM VILLAGE,956.0,174,2,1,2,RED,matching,matching,956.0,341,True
167,Yeola (F&V)Gondegaon,West,Nashik,Yeola (F&V),Sayali Kale,Gondegaon,NaN,TBM VILLAGE,150.5,75,0,1,4,RED,matching,matching,675.5,303,False

In [118]:
bgm.to_excel('cultivation_and_id.xlsx')

In [39]:
bayer_gram_match.mapping.value_counts()

True     344
False     92
Name: mapping, dtype: int64

In [40]:
bayer_gram_match[(bayer_gram_match['Territory ']=='Adilabad')&(bayer_gram_match['Bayer Gram Village']=='Guda')]

,HelperColumn,CU,CA,Territory,TBM/FS Name,Bayer Gram Village,Sahbhaagi Name,TBM/FS Village,Cutivation Size,# of Farmers Registered,# of Bayer Mitra,Model Plot since 1st Jan,No.of DG activites since 1st Jan,Overall Status,compare,cultivation_fr,mapping
171,AdilabadGuda,West,Nanded,Adilabad,Ganesh Shinde,Guda,"Thakre,Sumith",TBM VILLAGE,2130.0,201,3,3,4,GREEN,matching,1639.0,False

In [43]:
fr_gp_cult_sum[(fr_gp_cult_sum['Territory Name']=='Adilabad')&(fr_gp_cult_sum['Village Name']=='Guda')]

   Territory Name Village Name  Cultivation Size
37       Adilabad         Guda            1639.0

In [45]:
#validation from fr_gp
fr_gp_cult_sum[(fr_gp_cult_sum['Territory Name'].isin(list(bayer_gram_match['Territory '].unique())))&(fr_gp_cult_sum['Village Name'].isin(list(bayer_gram_match['Bayer Gram Village'].unique())))].sort_values(['Territory Name','Village Name'])

      Territory Name        Village Name  Cultivation Size
12            Abohar  Dangar Khera (131)             704.0
37          Adilabad                Guda            1639.0
89             Adoni         Kogilathota            1226.0
283             Agra              Bilara            2880.0
320             Agra            Chitaura            1610.0
...              ...                 ...               ...
50480    Yeola (F&V)           Gondegaon             150.5
50499    Yeola (F&V)     Khadak Malegaon             276.0
50534    Yeola (F&V)             Palkhed              53.0
50551    Yeola (F&V)                 Rui             213.0
50572    Yeola (F&V)      Vadner Bhairao             353.0

[721 rows x 3 columns]

In [47]:
compare_merge = bayer_gram_match.merge(fr_gp_cult_sum,left_on=['Territory ','Bayer Gram Village'], right_on=['Territory Name','Village Name'],how = 'inner')

In [68]:
compare_merge[['Territory ','Bayer Gram Village','cultivation_final_count','Territory Name','Village Name','Cultivation Size']]

,Territory,Bayer Gram Village,cultivation_final_count,Territory Name,Village Name,Cultivation Size
0,Agra,Chitaura,1610.00,Agra,Chitaura,1610.00
1,Aligarh,Mahera,12.00,Aligarh,Mahera,12.00
2,Etah,Takuawar,221.00,Etah,Takuawar,221.00
3,Etawah,Bhalasaiyed,565.00,Etawah,Bhalasaiyed,565.00
4,Firozabad,Itora,332.00,Firozabad,Itora,332.00
...,...,...,...,...,...,...
431,Sangli (Seed),Morale Ped,147.00,Sangli (Seed),Morale Ped,147.00
432,Sangli (F&V),Kavalapur,445.50,Sangli (F&V),Kavalapur,445.50
433,Solapur,Khandali,1200.00,Solapur,Khandali,1200.00
434,Solapur,Kurul,1026.75,Solapur,Kurul,1026.75
435,Solapur,Borgaon (Zadi),462.00,Solapur,Borgaon (Zadi),462.00

In [ ]:
bayer_gram_match[['Territory ','Bayer Gram Village',]].groupby()

# bayer gram 2023

In [24]:
dgbg_2023 = dg_final[(dg_final['year'] == 2023)  & (dg_final['iscompleted']==True) & (dg_final['engagement_program']=='BAYER GRAM')]
dgbgd_2023=dgbg_2023.drop_duplicates(subset='activity_id', keep="first", inplace=False)
dgbgd_2023.to_csv('dgbgd_2023.csv')

In [23]:
dg_2023 = dg_final[(dg_final['year'] == 2023)  & (dg_final['iscompleted']==True) & (dg_final['engagement_program']=='BAYER GRAM')]
dg_2023
dg_2023=(dg_2023.loc[dg_2023['activity_type_name'].isin(['Bayer Gram - Harvest Day','Bayer Gram - Model Plot','Bayer Gram - Field Demo - Package','Bayer Gram - Model Farm visit'])])
dgd_2023=dg_2023.drop_duplicates(subset='activity_id', keep="first", inplace=False)
dgd_2023.to_csv('dgd_2023.csv')

In [25]:
fr_final2023 = fr_final.loc[fr_final["Date of Registration"].between("2023-01-01", "2023-12-31")]
fr_final2023_d=fr_final.drop_duplicates(subset='id', keep="first", inplace=False)
fr_final2023_d.to_csv('fr_final2023_d.csv')

In [40]:
fr_smpl = fr_smpl[['Territory Name','Village Name','id']].groupby(['Territory Name','Village Name']).count().reset_index()
fr_smpl

     Territory Name        Village Name   id
0            Abohar  Bahadar Khera (61)   19
1            Abohar       Baluana (115)    1
2            Abohar  Dangar Khera (131)   37
3          Adilabad                Guda  128
4          Adilabad         Kokasmannur  172
...             ...                 ...  ...
7794    Yeola (F&V)            Vikharni   77
7795    Yeola (F&V)             Visapur   97
7796    Yeola (F&V)            Wagdardi    1
7797    Yeola (F&V)            Wahegaon   25
7798    Yeola (F&V)             Welapur   35

[7799 rows x 3 columns]

# DG Unique

In [3]:
import pandas as pd
DG_may21_Ma27= pd.read_excel(r"C:\\Users\EFRNV\Downloads\DG raw data\DG Activities Page 9.xlsx")
DG_May28_june3= pd.read_excel(r"C:\\Users\EFRNV\Downloads\DG Activities Page june3.xlsx")
DG_page10= pd.read_excel(r"C:\\Users\EFRNV\Downloads\DG Activities Page 10.xlsx")
#DG_Apr23_29.columns
DG_page10.shape

(19280, 61)

In [4]:
DG_may21_Ma27.shape

(285221, 61)

In [5]:
DG_May28_june3.shape

(300000, 61)

In [6]:
DG_may21_Ma27_unq=DG_may21_Ma27.drop_duplicates(subset='activity_id', keep="first", inplace=False)
DG_May28_june3_unq=DG_May28_june3.drop_duplicates(subset='activity_id', keep="first", inplace=False)
DG_page10_unq=DG_page10.drop_duplicates(subset='activity_id', keep="first", inplace=False)
DG_page10_unq.shape

(9384, 61)

In [7]:
DG_may21_Ma27_unq.shape

(96273, 61)

In [8]:
DG_May28_june3_unq.shape

(103376, 61)

In [9]:
DG_May28_june3_merge=pd.concat([DG_May28_june3_unq,DG_page10_unq], axis=0)
pd.set_option('display.max_columns',None)
DG_May28_june3_merge.shape

(112760, 61)

In [11]:
DG_May28_june3_data = DG_May28_june3_merge[~DG_May28_june3_merge['activity_id'].isin(DG_may21_Ma27_unq['activity_id'])]
DG_May28_june3_data.shape
DG_May28_june3_data.to_excel('DG_May28_june3.xlsx')

# FR Unique

In [18]:
import pandas as pd
FR_may27= pd.read_excel(r"C:\\Users\EFRNV\Downloads\farmer raw data\Farmer Registration Page 27may.xlsx",'my sheet')
FR_may28_june3= pd.read_excel(r"C:\\Users\EFRNV\Downloads\Farmer Registration Page june3.xlsx")
FR_may27.shape

(123828, 28)

In [19]:
FR_may28_june3.shape

(134708, 28)

In [20]:
FR_may27_unq=FR_may27.drop_duplicates(subset='id', keep="first", inplace=False)
FR_may28_june3_unq=FR_may28_june3.drop_duplicates(subset='id', keep="first", inplace=False)

FR_may27_unq.shape

(111835, 28)

In [21]:
FR_may28_june3_unq.shape

(121423, 28)

In [17]:
FR_may28_june3_data = FR_may28_june3_unq[~FR_may28_june3_unq['id'].isin(FR_may27_unq['id'])]
FR_may28_june3_data.shape
FR_may28_june3_data.to_excel('FR_may28_june3.xlsx')

## weekly added Sabhagies

In [4]:
import pandas as pd
adv_june5= pd.read_excel(r"C:\\Users\EFRNV\Downloads\India Advisor Data 05-06-2023.xlsx")
adv_may18= pd.read_excel(r"C:\\Users\EFRNV\Downloads\India Advisor Dump Data 18-05.xlsx")
adv_may18.shape

(12792, 25)

In [5]:
adv_june5.shape

(13766, 25)

In [61]:
adv_may18.columns

Index(['ID', 'First Name', 'Last Name', 'User Name', 'Email', 'Country Code',
       'Phone Number', 'Role', 'Geo Level 1', 'Geo Level 2', 'Geo Level 3',
       'Address One', 'Address Two', 'Postal Code', 'Status', 'Advisor Type',
       'Source Of Information', 'PL signed off', 'Self Registered',
       'Privacy Consent', 'Marketing Consent', 'Enrollment Date',
       'Referrer's Phone Number'', 'Agreement Signed Date',
       'Legal Agreement Version'],
      dtype='object')

In [7]:
adv_may19_june03 = adv_june5[~adv_june5['ID'].isin(adv_may18['ID'])]
adv_may19_june03.shape
adv_may19_june03.to_excel('adv_may19_june03.xlsx')

In [6]:
import pandas as pd
adv_weekly_09_15= pd.read_excel(r"C:\\Users\EFRNV\Downloads\2023 bg_adv\raw data.xlsx",'adv_weekly ')
adv_weekly_09_15.shape

(8459, 13)

In [7]:
adv_weekly_09_15_unq=adv_weekly_09_15.drop_duplicates(subset='Phone Number', keep="first", inplace=False)

adv_weekly_09_15_unq.shape
#adv_weekly_09_15_unq.to_excel('FR_Apr09_15_unq.xlsx')

(1799, 13)

In [42]:
FR_2022 = FR_unq.loc[FR_unq["Date of Registration"].between("2022-01-01", "2022-12-31")]
FR_2022.shape
FR_2022.to_csv('FR_2022.csv')

In [13]:
FR_unq= pd.read_csv(r"C:\\Users\EFRNV\Downloads\FR_unq03june.csv")
id_count = FR_unq['id'].nunique()
village_count = FR_unq['Village Code'].nunique()

count_by_type_of_village = FR_unq.groupby(['CU Name', 'Type of Village']).agg({'id': 'count', 'Village Code': 'nunique'}).reset_index()

pivot_table = pd.pivot_table(count_by_type_of_village, values=['id', 'Village Code'], index='CU Name', columns='Type of Village', aggfunc=sum, fill_value=0)

print("Count of 'Id':", id_count)
print("Distinct Count of 'Village Code':", village_count)
print("Pivot table by 'CU Name':")
print(pivot_table)

C:\Users\EFRNV\AppData\Local\Temp\ipykernel_16540\1444333454.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  FR_unq= pd.read_csv(r"C:\\Users\EFRNV\Downloads\FR_unq03june.csv")

Count of 'Id': 1178831
Distinct Count of 'Village Code': 63841
Pivot table by 'CU Name':
                Village Code                                         id
Type of Village Direct Touch Direct Touch\n Indirect Touch Direct Touch
CU Name
Central                17770              0          15276       293532  \
East                    7840              1           5376        88442
North                   2882              0           2231        42049
South                   9666              0           5760       281417
West                    6904              0           3071       231599


Type of Village Direct Touch\n Indirect Touch
CU Name
Central                      0         110738
East                         1          27043
North                        0           9713
South                        0          51114
West                         0          40847

In [37]:
fr_2023 = fr_final.loc[fr_final["Date of Registration"].between("2023-01-01", "2023-12-31")]
fr_2023.shape

(533395, 28)

In [38]:
##ca_pivot = pd.pivot_table(fr_final2023, values=['id', 'Village Code'], index=['CA Name', 'Territory Name'], aggfunc='count')
fr_final2023 = fr_2023.groupby(['CA Name', 'Territory Name']).agg({'id': 'count', 'Village Code': 'nunique'}).reset_index()

pivot_table = pd.pivot_table(fr_final2023, values=['id', 'Village Code'], index=['CA Name', 'Territory Name'], aggfunc=sum, fill_value=0)

In [41]:
pivot_table.to_excel('farmer_data_2023.xlsx')

In [54]:
crop_count_ca = fr_2023.groupby(['CA Name', 'Territory Name', 'Crop Name'])['id'].count().reset_index(name='Count')

In [55]:
crop_pivot = crop_count_ca.pivot(index=['CA Name', 'Territory Name'], columns='Crop Name', values='Count').reset_index()

In [56]:
crop_pivot.fillna(0, inplace=True)
crop_pivot = crop_pivot.apply(lambda x: x.sort_values(ascending=False).head(3))

In [ ]:
crop_pivot = crop_pivot.T.reset_index()
crop_pivot.columns = ['Crop Name', 'CA Name 1', 'CA Name 2', 'CA Name 3']
print('Top three Id Count of each Crop in CA Name and Territory:\n', crop_pivot)

In [62]:

# Create a pivot table to get the count of IDs based on 'Crop Name', 'CA Name', and 'Territory Name'
pivot_table = fr_2023.pivot_table(index=['Crop Name', 'CA Name', 'Territory Name'], values='id', aggfunc='count')

# Sort the pivot table by count of IDs in descending order
sorted_table = pivot_table.sort_values(by='id', ascending=False)

# Get the top three counts of IDs
##top_three_counts = sorted_table.head(3)

# Print the result
sorted_table.to_excel('crop_top3.xlsx')

In [64]:
# Assuming your DataFrame is named 'fr_2023'
# Create a pivot table to get the count of IDs based on 'Crop Name', 'CA Name', and 'Territory Name'
pivot_table = fr_2023.pivot_table(index=['CA Name', 'Territory Name', 'Crop Name'], values='id', aggfunc='count')

# Sort the pivot table by count of IDs in descending order within each 'CA Name' and 'Territory Name' group
sorted_table = pivot_table.groupby(['CA Name', 'Territory Name']).apply(lambda x: x.sort_values(by='id', ascending=False))

# Get the top three counts of IDs for each 'CA Name' and 'Territory Name' group
top_three_counts = sorted_table.groupby(['CA Name', 'Territory Name']).head(3)

# Print the result
print(top_three_counts)

# Save the result to an Excel file
top_three_counts.to_excel('crop_top.xlsx')

                                                                                                                         id
CA Name             Territory Name CA Name             Territory Name Crop Name
Agra                Agra           Agra                Agra           POTATOES                                         5476
                                                                      VEGETABLES: OTHER                                 205
                                                                      CORN/MAIZE                                        103
                    Aligarh        Agra                Aligarh        CORN/MAIZE:  TRADITIONAL YELLOW HYBRID - SPRING  2212
                                                                      POTATOES                                         1117
...                                                                                                                     ...
West Up&Uttaranchal Roorke         West Up&Uttaranchal Roorke         WHEAT                                             122
                                                                      MANGOES                                           117
                    Rudrapur       West Up&Uttaranchal Rudrapur       WHEAT                                             380
                                                                      RICE                                              203
                                                                      SUGAR CANE                                         93

[1104 rows x 1 columns]

In [71]:
import pandas as pd

# Assuming the first output data frame is named 'sorted_table' and the second output data frame is named 'top_three_counts'

# Reset the index of both data frames
sorted_table.reset_index(inplace=True)
top_three_counts.reset_index(inplace=True)

# Concatenate the two data frames vertically
concatenated_df = pd.concat([sorted_table, top_three_counts], ignore_index=True)

# Group by 'CA Name', 'Territory Name', and 'Crop Name' and get the count of IDs
merged_df = concatenated_df.groupby(['CA Name', 'Territory Name', 'Crop Name']).agg({'id': 'sum'}).reset_index()

# Sort the merged data frame by count of IDs in descending order
merged_df.sort_values('id', ascending=False, inplace=True)

# Print the merged data frame
print(merged_df)

# Save the merged data frame to an Excel file
merged_df.to_excel('merged_output.xlsx')

ValueError: cannot insert Crop Name, already exists

In [72]:
DG_unq.columns

Index(['village', 'village_code', 'activity_id', 'activity_status', 'week_no',
       'sub_district', 'sub_district_code', 'classification', 'cropmaingroup',
       'cropmaingroupcode', 'cropgroupname', 'cropgroupcode', 'cropcode',
       'cropname', 'engagement_program', 'activity_type_name',
       'no_of_farmers_attended', 'month', 'iscompleted', 'remarks',
       'product_name', 'completed_date', 'campaign_name', 'radl',
       'purchase_intent', 'activity_latitude', 'activity_longitude',
       'satellite_villages', 'fo_id', 'activity_resource_id',
       'activity_resource', 'value_per_item', 'resource_type',
       'consumed_count', 'planned_count', 'reject_reason', 'cancel_reason',
       'imageurl_1', 'imageurl_2', 'imageurl_3', 'business_area_code',
       'business_area', 'business_unit_code', 'business_unit', 'iscascaded',
       'fo_name', 'district_code', 'district_name', 'state_code', 'state',
       'program_description', 'uom', 'isadhoc', 'campaign_type', 'program_id',
       'activity_type_id', 'territory_code', 'territory_name', 'fs_id',
       'fs_name', 'year'],
      dtype='object')

In [99]:
# Create a pivot table with 'business_area' and 'territory_name' as the index
# 'activity_id_count' as the values, 'village_code_count' as an additional column, and 'no_of_farmers_attended_sum' as the column for aggregation
result = pd.pivot_table(DG_unq, values='activity_id', index=['business_area', 'territory_name'], aggfunc={'activity_id': 'count'}, fill_value=0)

# Add 'village_code_count' column with the count of 'village_code'
result['village_code_count'] = DG_unq.groupby(['business_area', 'territory_name'])['village_code'].nunique()

# Add 'no_of_farmers_attended_sum' column with the sum of 'no_of_farmers_attended'
result['no_of_farmers_attended_sum'] = DG_unq.groupby(['business_area', 'territory_name'])['no_of_farmers_attended'].sum()

# Reset the index
result.reset_index(inplace=True)

# Print the result
result.to_excel('act_count.xlsx')

In [100]:
DG_unq_planned = DG_unq[DG_unq['iscompleted'] == True]
##DG_unq_planned = DG_unq.query("iscompleted == True")
result = pd.pivot_table(DG_unq_planned, values='activity_id', index=['business_area', 'territory_name'], aggfunc={'activity_id': 'count'}, fill_value=0)

# Add 'village_code_count' column with the count of 'village_code'
result['village_code_count'] = DG_unq_planned.groupby(['business_area', 'territory_name'])['village_code'].nunique()

# Add 'no_of_farmers_attended_sum' column with the sum of 'no_of_farmers_attended'
result['no_of_farmers_attended_sum'] = DG_unq_planned.groupby(['business_area', 'territory_name'])['no_of_farmers_attended'].sum()

# Reset the index
result.reset_index(inplace=True)

# Print the result
result.to_excel('act_count_completed.xlsx')

In [86]:
FR_unq.columns

Index(['id', 'First Name', 'Last Name', 'Mobile Number', 'Village Code',
       'Village Name', 'Type of Village', 'SubDistrict Code',
       'SubDistrict Name', 'District Code', 'District Name', 'Total Land Size',
       'Preferred Language', 'Uses Smartphone', 'Bayer Customer',
       'Bayer Mitra', 'Crop Name', 'Cultivation Size', 'Cultivation Is Active',
       'FO ID', 'FO Name', 'CU Code', 'CU Name', 'CA Code', 'CA Name',
       'Territory Code', 'Territory Name', 'Date of Registration'],
      dtype='object')

In [94]:
FR_unq.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1189808 entries, 0 to 147091
Data columns (total 28 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   id                     1189808 non-null  int64
 1   First Name             1189807 non-null  object
 2   Last Name              1188441 non-null  object
 3   Mobile Number          1189808 non-null  int64
 4   Village Code           1189808 non-null  int64
 5   Village Name           1189808 non-null  object
 6   Type of Village        1186987 non-null  object
 7   SubDistrict Code       1189808 non-null  int64
 8   SubDistrict Name       1189808 non-null  object
 9   District Code          1189808 non-null  int64
 10  District Name          1189808 non-null  object
 11  Total Land Size        1187491 non-null  float64
 12  Preferred Language     1297 non-null     object
 13  Uses Smartphone        1189808 non-null  object
 14  Bayer Customer         1189808 non-null  object
 15  Bayer Mitra            1189808 non-null  object
 16  Crop Name              1189808 non-null  object
 17  Cultivation Size       1189215 non-null  float64
 18  Cultivation Is Active  1189808 non-null  object
 19  FO ID                  1189808 non-null  object
 20  FO Name                1189808 non-null  object
 21  CU Code                1189808 non-null  object
 22  CU Name                1189808 non-null  object
 23  CA Code                1189808 non-null  object
 24  CA Name                1189808 non-null  object
 25  Territory Code         1189808 non-null  object
 26  Territory Name         1189808 non-null  object
 27  Date of Registration   1189808 non-null  object
dtypes: float64(2), int64(5), object(21)
memory usage: 263.2+ MB

In [106]:
fr_final['Crop Name'] = fr_final['Crop Name'].astype(str)

pivot = pd.pivot_table(fr_final, values='Crop Name', index=['id', 'First Name', 'Last Name', 'Mobile Number'],columns=['CU Name', 'CA Name', 'Territory Name', 'District Name', 'SubDistrict Name', 'Village Name'],
                          aggfunc=lambda x: ' '.join(x.unique()), fill_value='')
pivot.reset_index(inplace=True)
pivot.to_csv('farmer_details.csv')

c:\Users\EFRNV\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\reshape\reshape.py:125: RuntimeWarning: overflow encountered in scalar multiply
  num_cells = num_rows * num_columns

ValueError: negative dimensions are not allowed

In [107]:

fr_final['Crop Name'] = fr_final['Crop Name'].astype(str)

pivot = pd.pivot_table(fr_final, 
                       values='Crop Name', 
                       index=['id', 'First Name'], 
                       columns=['CU Name', 'CA Name'], 
                       aggfunc=lambda x: ' '.join(x.unique()), 
                       fill_value='')
pivot.reset_index(inplace=True)

# Save the resulting pivot table to a CSV file
pivot.to_csv('farmer_details.csv', index=False)

In [108]:
import pandas as pd

# Assuming your DataFrame is named 'df'
fr_final['Crop Name'] = fr_final['Crop Name'].astype(str)

pivot = fr_final.pivot(index=['CU Name', 'CA Name', 'id', 'First Name'], columns='Crop Name', values='Crop Name').reset_index()

# Save the resulting pivot table to a CSV file
pivot.to_csv('farmer_details_proper.csv', index=False)

ValueError: Index contains duplicate entries, cannot reshape

In [109]:
import pandas as pd

# Assuming your DataFrame is named 'df'
fr_final['Crop Name'] = fr_final['Crop Name'].astype(str)

# Filter the DataFrame to include only the 'id' values with more than two Crop Names
filtered_df = fr_final.groupby('id').filter(lambda x: len(x['Crop Name'].unique()) > 2)

# Create the pivot table
pivot = pd.pivot_table(filtered_df, values='Crop Name', index=['id', 'First Name'], columns=['CU Name', 'CA Name'], aggfunc=lambda x: ' '.join(x.unique()), fill_value='').reset_index()

# Save the resulting pivot table to a CSV file
pivot.to_csv('farmer_data.csv', index=False)

In [117]:
columns = ['id', 'Mobile Number', 'CU Name', 'CA Name', 'Territory Name', 'Crop Name']
df_filtered = FR_unq[columns]

pivot_table = pd.pivot_table(df_filtered, index=['CU Name', 'CA Name', 'Territory Name','id', 'Mobile Number'], columns='Crop Name',aggfunc='count', fill_value=0)

grouped = pivot_table.groupby('CU Name')
for cu_name, group_df in grouped:
    file_name = f'fr_crop_{cu_name}.csv'
    group_df.to_csv(file_name, index=False)

In [121]:
import pandas as pd

# Assuming 'FR_unq' is your dataframe containing the data
# Extracting the desired columns
columns = ['id', 'Mobile Number', 'CU Name', 'CA Name', 'Territory Name', 'Crop Name']
df_filtered = FR_unq[columns]

# Creating a pivot table
pivot_table = pd.pivot_table(df_filtered, index=['CU Name', 'CA Name', 'Territory Name', 'id', 'Mobile Number'], columns='Crop Name', aggfunc='count', fill_value=0)

# Resetting index to make 'CU Name' a column
pivot_table = pivot_table.reset_index()

# Merge using index levels
merged_df = pd.merge(pivot_table, df_filtered[['CU Name']], left_on=['CU Name'], right_index=True, how='inner')

# Splitting the merged dataframe into multiple small files based on 'CU Name'
grouped = merged_df.groupby('CU Name')

for cu_name, group_df in grouped:
    file_name = f'fr_crop_{cu_name}.csv'
    group_df.to_csv(file_name, index=False)

MergeError: Not allowed to merge between different levels. (2 levels on the left, 1 on the right)